<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <span class="example-spacer"></span>
    <div style="width: 100%;">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      <div fxLayout="row wrap" fxFlex fxLayoutAlign="flex-end center"> 
        <button mat-button (click)="onGetValue({eventName: 'add'})" [disabled]="progressbar==100">Add New Record</button>
      </div>
     
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav opened="true" disableClose="true" fxLayout="column">
      <div fxLayout="column">
        <div style="width: 200px; padding: 20px;">
          <div fxLayout="row" fxLayoutAlign="center start">
            <div class="sub-section-1"><p>{{progressbar}}%</p></div>
          </div>
        <mat-progress-bar mode="determinate" [value]="progressbar"></mat-progress-bar>

        <div class="staticstic">
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px"> 
            <div fxFlex="30" class="sub-section-1"><p>{{genderCount.male}}</p></div>
            <div fxFlex="30" class="sub-section-1"><p>{{genderCount.female}}</p></div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px"> 
            <div fxFlex="30" class="sub-section-1"><p>Male</p></div>
            <div fxFlex="30" class="sub-section-1"><p>Female</p></div>
          </div>
        </div>

        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      
      <app-data-table (getValue)="onGetValue($event)" [myData]="myData" ></app-data-table>
      <app-popup-dialog (getUpdateValue)="onGetUpdateValue($event)" #child></app-popup-dialog>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>